/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Seven Segment', sans-serif;
}

img{
    max-width: 100%;
}

.calcbox{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.greyback{
    background-color: rgb(238 238 238);
}

.rounded{
    border-radius: 10px ;
}

.buttonsgrey{
    background-color: lightgray;
}
.orange{
    background-color: orange;
}
.buttonsgreen{
    background-color: rgb(118 168 176);
}

.whitetext{
    color: white;
}

.shadow{
    box-shadow: inset 20px 0px 30px rgb(201, 201, 201);
}

/* SCREEN */
.screen{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.results{
    color: greenyellow;
    font-size: 35px;
}

/* ALL BUTTONS */
.buttons{
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.brdr{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}

/* BUTTONS SECTIONS */
.numbersbox{
    width: 200px;
    display: flex;
    flex-grow: 5;
    margin: 5px;
}
.operationsbox{
    width: 50px;
    flex-grow: 1;
    margin: 5px;
}

/* NUMBERS */
.number{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.number span{
    text-align: center;
    width: calc(100% / 3 - 10px);
    margin: 5px;
    padding: 15px 20px;
}

.number span:nth-child(10){
    flex-grow: 1;
}

/* OPERATIONS */
.operation{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.operation span{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    padding: 10px;
}

